.e-con-innerArt {
  gap: 0;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 50px;
  padding-inline-start: 0;
  padding-inline-end: 0;
  height: 100%;
}
.form-control:focus {
  box-shadow: none;
}
.filters-sidebar {
  width: 250px;
  padding-right: 20px;
  padding-top: 0;
  height: 100%;
  .form-select,
  .form-control {
    font-size: 0.9rem;
    border-radius: 4px;
  }

  h5 {
    font-size: 1rem;
    font-weight: 600;
  }

  .form-control {
    width: 80px;
  }
}
.containerArt {
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  .row {
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: space-between;
    .col-lg-6 {
      width: 49.5%;
    }
  }
}
a {
  text-decoration: unset;
  color: unset;
}
.w50 {
  width: 50%;
}
.titleSize {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
}
.bgborder {
  background-image: url("../../assets/Dot line.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.Art-Dot-line {
  width: 100%;
  height: 28px;
}
.title3 {
  text-align: left !important;
  font-family: "El Messiri", sans-serif !important;
  text-transform: uppercase !important;
}
.Red {
  width: 100%;
  height: 320px;
  border-radius: 5px;
}
.price {
  color: #4e5652;
  font-size: 14.4px;
  font-weight: 700;
  margin-bottom: 16px;
}
.gallery-item {
  text-align: center;
  .prodimg {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 10px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: all 0.2s;
    }
  }

  .item-details {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    .author {
      color: #000000;
      display: block;
      margin-bottom: 0.5rem;
    }

    .ArtTitle {
      font-size: 1.2rem;
      display: block;
      margin-bottom: 0.5rem;
    }

    .stars {
      .Star {
        color: #000 !important;
      }
    }

    .select-options {
      color: #000;
      padding: 0.5rem 1rem;
      font-size: 13px;
      background: #fff;
      font-weight: 500;
      border-radius: 20px;
      cursor: pointer;
    }
    .select-options:hover {
      background: #1bae70 !important;
      border-color: #1bae70 !important;
      color: #fff !important;
    }
  }
}
.text-primarygreen {
  color: #1bae70 !important;
}

.redBg {
  background: url("../../assets/revo_Small.jpg");
}
.font-fam {
  font-family: "El Messiri", sans-serif !important;
}

@media screen and (max-width: 1199px) {
  .e-con-innerArt {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 991px) {
  .e-con-innerArt {
    padding-left: 20px;
    padding-right: 20px;
  }
  .containerArt {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
  }
  .filters-sidebar {
    width: 100%;
    border-right: none;
  }
}
@media screen and (max-width: 576px) {
  .w50 {
    width: 100%;
  }
  .title3 {
    font-size: 14px !important;
  }
  .row {
    --bs-gutter-x: 1.5rem !important;
    --bs-gutter-y: 0 !important;
  }
  .col-lg-6 {
    width: 50%;
  }
  .gallery-item img {
    height: 175px !important;
  }
  .containerArt {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
