.pl-80 {
  padding-left: 80px !important;
}
.userDp {
  width: 40px;
  height: 40px;
  // background-color: #218838;
  border-radius: 50px;
  margin-right: 10px;
  background-size: cover;
}
.background-image-container {
  height: 300px;
  width: 100%;
  background: url("../../../assets/chrylys/Ibis-1.png");
  background-size: cover !important;
  background-position: top;
  background-repeat: no-repeat;
}
.f-26 {
  font-size: 26px !important;
}
.text-uppercase {
  text-transform: uppercase;
}
.dp-tab {
  width: 100%;
  height: 50px;
  background: #d9d7d7;
  color: #000;
  display: flex;
  justify-content: center;
}
.dp_placementdash {
  width: 120px;
  height: 120px;
  // background: burlywood;
  border-radius: 10px;
}
.f-22 {
  font-size: 22px !important;
}
.upload-text {
  color: #888;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.dp_placementdash {
  background-size: cover;
  background-position: center;
}
.background-image-container {
  background-size: contain;
  background-position: center;
}

@media (min-width: 576px) {
  .pl-80 {
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .pl-80 {
    padding-left: 80px;
  }
}
